Flask==2.0.1
Flask-SQLAlchemy==2.5.1
numpy==1.19.5
pandas==1.2.4
tensorflow==2.5.0
gunicorn==20.1.0  # Si vous déployez sur un serveur qui utilise Gunicorn
Jinja2==3.0.1  # Dépendance de Flask, généralement installée avec Flask
SQLAlchemy==1.4.15  # Dépendance pour Flask-SQLAlchemy
Werkzeug==2.0.1  # Dépendance de Flask
pickle-mixin==1.0.2
